@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

html,
body,
#root {
  height: 100%;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
  background: #0a0a0a;
}

.leaflet-container {
  width: 100%;
  height: 100%;
  background: #171717;
}
